{% macro breadcrumb(data) %}

    <div class="c-breadcrumb">

        <span id="breadcrumb-label" class="u-sr-only">You are here:</span>

        <ol class="breadcrumb__list" id="breadcrumb" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">

            {% for item in data %}
            <li class="breadcrumb__list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

                <a class="breadcrumb__item {%- if loop.last %} breadcrumb__item--current{% endif -%}" itemprop="item" href="{{ item.url }}" title="{{ item.label }}">
                    <span itemprop="name">
                        {{ item.label }}
                    </span>
                </a>

                <meta itemprop="position" content="{{ loop.index }}">
            </li>
            {% endfor %}

        </ol>

    </div>

{% endmacro %}
