{% macro(data) %}

    <div class="c-video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

        <meta itemprop="name" content="{{ data.title }}" />
        <meta itemprop="description">{{ data.description }}</span>
        <meta itemprop="duration" content="{{ data.totalTime }}" />
        <meta itemprop="thumbnailUrl" content="{{ data.thumbnail }}" />
        <meta itemprop="embedURL" content="{{ data.embedUrl }}" />

        <div 
            id="video-{{ data.id }}"
            data-video-platform="{{ data.platform }}"
            data-video-id="{{ data.id }}"
            data-video-time="{{ data.start_time }}"
            js-hook-video ></div>

    </div>

{% endmacro %}