<div class="c-video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

    <span itemprop="name">{{ data.title }}</span>
    <meta itemprop="duration" content="T1M33S" />
    <meta itemprop="thumbnailUrl" content="thumbnail.jpg" />
    <meta itemprop="contentURL" content="http://www.example.com/video123.flv" />
    <meta itemprop="embedURL" content="http://www.example.com/videoplayer.swf?video=123" />
    <meta itemprop="uploadDate" content="2011-07-05T08:00:00+08:00" />
    <meta itemprop="expires" content="2012-01-30T19:00:00+08:00" />
    <meta itemprop="height" content="400" />
    <meta itemprop="width" content="400" />
    <span itemprop="description">Video description</span>

</div>

