{% macro video(data) %}

    <div class="c-video
        {%- if data.classes %}{{ data.classes }}{% endif -%}"
        itemprop="video" itemscope itemtype="http://schema.org/VideoObject"
        {% if data.instance_id %}id="video-{{ data.instance_id }}"{% endif %}
        {% if data.platform %}data-video-platform="{{ data.platform }}"{% endif %}
        {% if data.id %}data-video-id="{{ data.id }}"{% endif %}
        {% if data.start_time %}data-video-time="{{ data.start_time }}"{% endif %}
        {% if data.controls >= 0 %}data-video-controls="{{ data.controls }}"{% endif %}
        js-hook-video>

        {% if data.platform === 'youtube' %}
            {% set platformUrl = 'https://www.youtube.com/watch?v=' %}
        {% elif data.platform === 'vimeo' %}
            {% set platformUrl = 'https://www.vimeo.com/' %}
        {% endif %}

        {% if data.title %}<meta itemprop="name" content="{{ data.title }}" />{% endif %}
        {% if data.description %}<meta itemprop="{{ data.description }}" />{% endif %}
        {% if data.totalTime %}<meta itemprop="duration" content="{{ data.totalTime }}" />{% endif %}
        {% if data.thumbnail %}<meta itemprop="thumbnailUrl" content="{{ data.thumbnail }}" />{% endif %}
        {% if data.embedUrl %}<meta itemprop="embedURL" content="{{ platformUrl }}{{ data.id }}" />{% endif %}

        <div class="video__player" js-hook-video-player></div>

        <div class="video__loader"></div>

        <button class="video__button video__button--play" js-hook-video-play>
            <span class="video__button-icon"></span>
            <span class="u-sr-only">Play</span>
        </button>

        <button class="video__button video__button--pause" js-hook-video-pause>
            <span class="video__button-icon">&#10073;&#10073;</span>
            <span class="u-sr-only">Pause</span>
        </button>

        <button class="video__button video__button--replay" js-hook-video-replay>
            <span class="video__button-icon">&#8635;</span>
            <span class="u-sr-only">Replay</span>
        </button>

    </div>

{% endmacro %}
