// .c-mega-menu {
// Position relative should be added to the parent that you want to position the flyout on, can also be the c-header
// position: relative;
// }

.mega-menu__nav {
  display: flex;
  list-style: none;
}

.mega-menu__link {
  text-decoration: none;
  padding: $global-spacing $global-spacing-md;
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;

  &.has-children {
    &::after {
      @include triangle(bottom, 10px, 5px, currentColor);
      right: 0;
    }

    .main-menu__item--is-open & {
      &::after {
        @include triangle(top, 10px, 5px, currentColor);
      }
    }
  }

  @include hover-focus {
    color: $color-secondary;
  }
  @include keyboard-focus {
    color: $color-secondary;
    position: relative;

    @include focus-state-pulse;
  }
}

.mega-menu__background {
  background-color: $color-white;
  position: absolute;
  opacity: 0;
  top: 100%;
  left: -100%;
  width: 100%;
  height: 0;
  transform-origin: left top;
  transform: translate3d(0, -30px, 0);
  transition: 200ms ease-in-out, 200ms ease-in-out, 0ms linear 100ms;
  transition-property: opacity, transform, left;
  z-index: 1;

  .header--mega-menu-open & {
    left: 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 200ms ease-in-out, 200ms ease-in-out, 0ms;
    transition-property: opacity, transform, left;
  }
}

.mega-menu__flyout {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 200ms ease-in-out 200ms, visibility 0ms linear 300s;

  .mega-menu__item--is-open & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 200ms ease-in-out 200ms, visibility 0s;
  }

  .header--mega-menu-open & {
    transition-delay: 0ms;
  }
}
