{% import 'form-elements.html' as form %}
{% from 'button.html' import button %}

{% macro googlemaps( data ) %}

    <div class="c-googlemaps" js-hook-googlemaps>

        <h2 class="googlemaps__title">Locations</h2>

        <div class="googlemaps__actions">

            {{ form.select({
                name: 'region',
                id: 'region',
                label: 'country / region',
                options: [],
                class: 'googlemaps__toggleselect',
                hook: 'region-select',
                attr: 'on:change.prevent="googlemaps::changeregion" data-text-first-option="All"'
            }) }}

            {% if data %}

                <div class="googlemaps__togglebuttons">

                    <button type="button" class="googlemaps__togglebutton togglebutton--is-active" on:click.prevent="googlemaps::toggleview" js-hook-googlemaps-view-button>Map</button>

                    <button type="button" class="googlemaps__togglebutton" on:click.prevent="googlemaps::toggleview" js-hook-googlemaps-view-button>List</button>

                </div>

            {% endif %}

        </div>

        <div class="googlemaps__container"
                js-hook-googlemaps-container
                data-locations='{{ data | dump }}'>
        </div>

        <div class="googlemaps__invalid-cookie">
            <p>
                You are seeing this because you have not accepted our advertising cookies.<br>
                If you want to see our videos, please change your cookie preferences.
            </p>

            {{ button({
                url: '/cookie-settings.html',
                variant: 'primary',
                label: 'Change preferences'
            }) }}
        </div>

        {% if data %}

            <ul class="googlemaps__region-list">

                {% for region in data %}

                    <li class="googlemaps__region" id="{{ region.id }}" data-name="{{ region.name }}" js-hook-region>

                        <h2 class="googlemaps__region-title">{{ region.name }}</h2>

                        {% if region.locations %}
                        <ul class="googlemaps__location-list">

                            {% for location in region.locations %}
                                <li class="region__location-list-item" id="{{ location.id }}" data-lat="{{ location.position.lat }}" data-lng="{{ location.position.lng }}" js-hook-location>

                                    {{ location.title }}

                                    LOCATION CONTENT

                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </li>

                {% endfor %}

            </ul>

        {% else %}

            <ul class="googlemaps__location-list" js-hook-location-list>
            </ul>

        {% endif %}

    </div>

{% endmacro %}
