{% import 'form-elements.html' as form %}

{% macro googlemaps( data ) %}

        <div class="c-googlemaps" js-hook-googlemaps>

            <h2 class="googlemaps__title">Locations</h2>

            <div class="googlemaps__actions">

                {{ form.select({
                    name: 'region',
                    id: 'region',
                    label: 'country / region',
                    options: [],
                    class: 'googlemaps__toggleselect',
                    hook: 'region-select',
                    attr: 'on:change.prevent="googlemaps::changeregion" data-text-first-option="All'
                }) }}
                
                <div class="googlemaps__togglebuttons">
                    
                    <button type="button" class="googlemaps__togglebutton is-active" on:click.prevent="googlemaps::toggleview" js-hook-googlemaps-view-button>Map</button>

                    <button type="button" class="googlemaps__togglebutton" on:click.prevent="googlemaps::toggleview" js-hook-googlemaps-view-button>List</button>

                </div>

            </div>

            <div class="googlemaps__container"
                 js-hook-googlemaps-container 
                 data-locations='{{ data | dump }}'>
            </div>

            <ul class="googlemaps__region-list">

                {% for region in data %}

                    <li class="googlemaps__region" id="{{ region.id }}" js-hook-region>
                        
                        <h2 class="googlemaps__region-title">{{ region.name }}</h2>

                        {% if region.locations %}
                        <ul class="googlemaps__location-list">

                            {% for location in region.locations %}
                                <li class="googlemaps__location" id="{{ locationitem.id }}" js-hook-location>

                                    {{ location.title }}

                                    LOCATION CONTENT

                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </li>

                {% endfor %}

            </ul>

        </div>

{% endmacro %}
