{% macro location( data ) %}

<div class="c-location">
    
    <h3 class="location__title">{{ data.title }}</h3>
    
    <div class="location__body">
        {% if data.body %}{{ data.body | safe }}{% endif %}
    </div>

    {% if data.email %}
    <div class="location__action">
        
        <div class="location__action-icon">
            {% svg 'icons/dialog' %}
        </div>

        <div class="location__action-label">
            <span>Have a question?</span>
            <a href="/url/{{ data.email }}">Use our email form</a>
        </div>

    </div>
    {% endif %}

    {% if data.phone %}
    <div class="location__action">
        
        <div class="location__action-icon">
            {% svg 'icons/phone' %}
        </div>

        <div class="location__action-label">
            <span>CALL US: {{ data.phone }}</span>
            <a href="tel:{{ data.phone }}">9:00 / 17:00 MA-VR</a>
        </div>

    </div>
    {% endif %}

    <div class="location__action">
        
        <div class="location__action-icon">
            {% svg 'icons/google-maps' %}
        </div>

        <div class="location__action-label">
            <span>Visit us</span>
            <a href="//www.google.com/maps/search/?api=1&query={{ data.position.lat }},{{ data.position.lng }}" target="_black">Get me there</a>
        </div>

    </div>

</div>

{% endmacro %}