// @shelf-version 1.0.0

$header-background-color: $color-primary; 
$header-text-color: $color-black;
$header-shadow-color: inset 0px 5px 6px -3px rgba($color-black, 0.2);

.c-header {
    background-color: $header-background-color;
    color: $header-text-color; 
    left: 0;
    position: fixed; 
    top: 0;
    transition-timing-function: linear;
    transition-property: transform;
    transition-duration: 0s;
    will-change: transform;
    width: 100%;

    &::before {
        bottom: -5px;
        box-shadow: $header-shadow-color;
        content: '';
        height: 5px;
        opacity: 0;
        position: absolute;
        transition: .2s opacity;
        width: 100%;
        will-change: opacity;
    }

    &[shadow] {
        
        &::before {
            opacity: 1;
        }

    }
}