{#
    Tab Accordion

    Options:
        accordion.autoclose {boolean}           
        items.id {string}            (required) 
        items.title.tab {string}     (required) 
        items.title.open {string}    (required) 
        items.title.close {string}   (required) 
        items.open: {boolean}                   
        items.content {string}                 
#}

{% import 'accordion.html' as accordion %}
{% from 'tabs.html' import tabs %}

{% macro tabAccordion(data) %}
    <div class="c-tab-accordion">

        {{ tabs({
            items: data.items
        }) }}

        {% call accordion.default({
            autoclose: data.accordion.autoclose
        }) %}

            {% for item in data.items %}
                {% call accordion.item({
                    "id" : item.id,
                    "title" : {
                        "default" : item.title.open,
                        "close" : item.title.close
                    },
                    tabAccordion: true,
                    open: item.open
                }) %}

                    {{ item.content }}

                {% endcall %}
            {% endfor %}

        {% endcall %}
    </div>

{% endmacro %}