:root {
  --input-border-width: 1px;
  --input-border-radius: 0;
  --input-border-color: #{$color-black};
  --input-error-color: rgba(var(--form-item-error-border-color), 1);
  --input-fill-color: #{$color-white};
  --input-padding-top: #{$global-spacing};
  --input-padding-bottom: #{$global-spacing};
  --input-padding-left: #{$global-spacing * 2};
  --input-padding-right: #{$global-spacing * 4};
  --input-transition-time: 200ms;
  --input-transition-ease: #{$ease-in-out-quad};
}

.c-input {
  position: relative;
}

.input__label {
  display: block;
}

.input__input {
  display: block;
  appearance: none;
  width: 100%;
  padding-top: var(--input-padding-top);
  padding-bottom: var(--input-padding-bottom);
  padding-left: var(--input-padding-left);
  padding-right: var(--input-padding-right);
  border-radius: var(--input-border-radius);
  border: 0;
  box-shadow: 0 0 0 var(--input-border-width) var(--input-border-color) inset;
  background-color: var(--input-fill-color);
  line-height: $font-line-height-body;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &::-ms-expand {
    display: none;
  }

  .form__item--error & {
    box-shadow: 0 0 0 var(--input-border-width) var(--input-error-color) inset;
  }
}

.input__wrapper {
  position: relative;
}

/**
 * File
 */
.input--file {
  .input__input {
    cursor: pointer;
    padding-left: var(--input-padding-right);

    &::before {
      position: absolute;
      text-align: center;
      width: var(--input-padding-right);
      left: 0;
      content: '\21EA';
    }
  }
}
