:root {
  --radio-size: var(--checkbox-size);
  --radio-border-width: var(--checkbox-border-width);
  --radio-border-radius: var(--radio-size);
  --radio-color: var(--checkbox-color);
  --radio-error-color: var(--checkbox-error-color);
  --radio-margin-right: var(--checkbox-margin-right);
  --radio-transition-time: var(--checkbox-transition-time);
  --radio-transition-ease: var(--checkbox-transition-ease);
}

.radio__input {
  @include sr-only;

  &:checked {
    & + label {
      &::before {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  &:hover {
    + label::after {
      box-shadow: 0 0 0 var(--radio-border-width) var(--radio-color) inset;
    }
  }
}

.radio__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: calc(var(--radio-size) + 10px);

  &::before,
  &::after {
    position: absolute;
    content: '';
    border-radius: var(--radio-border-radius);
    top: 50%;
    left: 0;
    width: var(--radio-size);
    height: var(--radio-size);
    cursor: pointer;
  }

  &::before {
    box-shadow: 0 0 0 calc(var(--radio-border-width) * 3) $color-white inset,
      0 0 0 var(--radio-size) var(--radio-color) inset;
    transform: translateY(-50%) scale(0);
    transition: var(--radio-transition-time) var(--radio-transition-ease);
    transition-property: transform;
  }

  &::after {
    transform: translateY(-50%);
    transition: var(--checkbox-transition-time) var(--checkbox-transition-ease);
    transition-property: box-shadow;
    box-shadow: 0 0 0 var(--radio-border-width) var(--radio-color) inset,
      0 0 0 calc(var(--radio-border-width) * 3) $color-white inset;

    .form__item--error & {
      box-shadow: 0 0 0 var(--radio-border-width) var(--radio-error-color) inset,
        0 0 0 calc(var(--radio-border-width) * 3) $color-white inset;
    }
  }
}

/**
 * Horizontal
 */

.radio--horizontal {
  .radio__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .radio__label {
    margin-right: var(--checkbox-margin-right);
  }
}
