:root {
  --textarea-border-width: var(--input-border-width);
  --textarea-border-radius: var(--input-border-radius);
  --textarea-border-color: var(--input-border-color);
  --textarea-error-color: var(--input-error-color);
  --textarea-fill-color: var(--input-fill-color);
  --textarea-padding-top: var(--input-padding-top);
  --textarea-padding-bottom: var(--input-padding-bottom);
  --textarea-padding-left: var(--input-padding-left);
  --textarea-padding-right: var(--input-padding-right);
  --textarea-transition-time: var(--input-transition-time);
  --textarea-transition-ease: var(--input-transition-ease);
}

.c-textarea {
  position: relative;
}

.textarea__label {
  display: block;
}

.textarea__input {
  display: block;
  appearance: none;
  width: 100%;
  padding-top: var(--textarea-padding-top);
  padding-bottom: var(--textarea-padding-bottom);
  padding-left: var(--textarea-padding-left);
  padding-right: var(--textarea-padding-right);
  border-radius: var(--textarea-border-radius);
  border: 0;
  box-shadow: 0 0 0 var(--textarea-border-width) var(--textarea-border-color) inset;
  background-color: var(--textarea-fill-color);
  line-height: $font-line-height-body;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &::-ms-expand {
    display: none;
  }

  .form__item--error & {
    box-shadow: 0 0 0 var(--textarea-border-width) var(--textarea-error-color) inset;
  }
}

.textarea__wrapper {
  position: relative;
}
