// sass-lint:disable no-important
// @shelf-version 1.0.0
$sticky-transition-time: 150ms !default;
$sticky-transition-ease: $ease-in-out-quad !default;

.c-sticky {
    position: relative;
    display: block;
    height: 100%;
}

.sticky--is-stuck {
    @include screen-tablet-portrait-and-bigger {
        position: fixed !important;
    }
}

.sticky--is-unstuck {
    @include screen-tablet-portrait-and-bigger {
        position: absolute;
        bottom: 0;
    }
}
