{#
    @shelf-version: 1.0.0
    Radio button

    Options:
        id {string|int}     - Adds an id to the radio button (needed for label to be clickable)
        name {string|int}     - Adds a name to the radio button
        value {string|int}     - Adds a name to the radio button
        checked {boolean}     - Add checked property to the radio button

#}

{% macro radioButton( data ) %}

    <div class="c-radio-button">
        <input type="radio" class="radio-button__input" id="{{ data.id }}" name="{{ data.name }}" value="{{ data.value }}" {% if data.checked %} checked {% endif %}>
        <label class="radio-button__label" for="{{ data.id }}">{{ data.label }}</label>
    </div>

{% endmacro %}
