<div class="c-social-share">

    <h3>Share</h3>

    <ul>
        <li>
            <button on:click.prevent="social-share::facebook">
                Share me on Facebook
            </button>
        </li>
        <li>
            <button on:click.prevent="social-share::twitter">
                Share me on the Twitters
            </button>
        </li>
        <li>
            <button on:click.prevent="social-share::linkedin">
                Share me on LinkedIn
            </button>
        </li>
        <li>
            <button on:click.prevent="social-share::pinterest">
                Share me on Pinterest
            </button>
        </li>
        <li>
            <button on:click.prevent="social-share::email">
                Share me via E-mail
            </button>
        </li>
    </ul>

</div>