$color-alert-error: #ff0000;
$color-alert-warning: orange;
$color-alert-success: green;

.c-alert {
  padding: $global-spacing;
  margin-bottom: $global-spacing-md;
}

.alert--center {
  text-align: center;
}

.alert--error {
  background-color: $color-alert-error;
  color: $color-white;
}

.alert--warning {
  background-color: $color-alert-warning;
}

.alert--success {
  background-color: $color-alert-success;
}
