// @shelf-version 1.0.0

$accordion-spacing: 2rem;

$accordion-item-border-radius: 3px;
$accordion-item-header-color: $color-grey;
$accordion-item-header-padding: $global-spacing $global-spacing * 2;
$accordion-item-content-padding: $global-spacing * 2;
$accordion-item-content-color: $color-off-white;
$accordion-item-spacing: 2px;

$accordion-transition-time: 450ms;
$accordion-transition-ease: $ease-in-out-quad;

.c-accordion {
    margin-bottom: $accordion-spacing;
}

.accordion__item {
    margin-bottom: $accordion-item-spacing;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin content-visible {
    visibility: visible;
}

@mixin content-hidden {
    visibility: hidden;
}

.accordion__item-header {
    position: relative;
    background-color: $accordion-item-header-color;
    display: block;
    width: 100%;
    text-align: left;
    padding: $accordion-item-header-padding;
    border-radius:$accordion-item-border-radius;
    transition: $accordion-transition-time $accordion-transition-ease $accordion-transition-time/2;
    transition-property: border-radius;

    .accordion__item--is-active & {
        border-radius:$accordion-item-border-radius $accordion-item-border-radius 0 0;
        transition: $accordion-transition-time $accordion-transition-ease;
        transition-property: border-radius;
    }

    &::after,
    &::before {
        position: absolute;
        right: $global-spacing;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0;
        font-size: 3rem;
        transition: $accordion-transition-time / 2 $accordion-transition-ease;
        transition-property: opacity, transform;
    }

    &::after {
        content: '\2013';
        opacity: 0;

        .accordion__item--is-active & {
            opacity: 1;
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    &::before {
        content: '\002B';
        opacity: 1;

        .accordion__item--is-active & {
            opacity: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.accordion__item-header--open {
    display: block;

    .accordion__item--is-active & {
        display: none;
        @include content-hidden;
    }
}

.accordion__item-header--close {
    display: none;
    @include content-hidden;

    .accordion__item--is-active & {
        display: block;
        @include content-visible;
    }
}

.accordion__item-content-holder {
    height: 0;
    overflow: hidden;
    background-color: $accordion-item-content-color;
    @include content-hidden;
    transition: $accordion-transition-time $accordion-transition-ease, $accordion-transition-time $accordion-transition-ease $accordion-transition-time, $accordion-transition-time $accordion-transition-ease $accordion-transition-time;
    transition-property: height, visibility, border-radius;

    .accordion__item--is-active & {
        @include content-visible;
        height: auto;
        border-radius: 0 0 $accordion-item-border-radius $accordion-item-border-radius;
        transition: $accordion-transition-time $accordion-transition-ease, $accordion-transition-time $accordion-transition-ease, $accordion-transition-time $accordion-transition-ease;
    }
}

.accordion__item-content {
    padding: $accordion-item-content-padding;
}
