<div class="c-social-share">

    <h3 class="social-share__title">Share</h3>

    <ul class="social-share__list">
        <li class="social-share__list-item">
            <button class="social-share__button" on:click.prevent="social-share::facebook">
                Share me on Facebook
            </button>
        </li>
        <li class="social-share__list-item">
            <button class="social-share__button" on:click.prevent="social-share::twitter">
                Share me on the Twitters
            </button>
        </li>
        <li class="social-share__list-item">
            <button class="social-share__button" on:click.prevent="social-share::linkedin">
                Share me on LinkedIn
            </button>
        </li>
        <li class="social-share__list-item">
            <button class="social-share__button" on:click.prevent="social-share::pinterest">
                Share me on Pinterest
            </button>
        </li>
        <li class="social-share__list-item">
            <button class="social-share__button" on:click.prevent="social-share::email">
                Share me via E-mail
            </button>
        </li>
    </ul>

</div>
