<div class="o-container">
  <div class="o-grid">
    <div class="o-col-12 o-col-4--sm">
      <!-- flyout list -->
      <strong class="flyout-menu__title">Flyout menu list 1</strong>
      <ul class="flyout-menu__list">
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 1</a>
        </li>
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 2</a>
        </li>
      </ul>
    </div>
    <div class="o-col-12 o-col-4--sm">
      <!-- flyout list -->
      <strong class="flyout-menu__title">Flyout menu list 2</strong>
      <ul class="flyout-menu__list">
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 1</a>
        </li>
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 2</a>
        </li>
      </ul>
    </div>
    <div class="o-col-12 o-col-4--sm">
      <!-- flyout list -->
      <strong class="flyout-menu__title">Flyout menu list 3</strong>
      <ul class="flyout-menu__list">
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 1</a>
        </li>
        <li class="flyout-menu__list-item">
          <a href="#" class="flyout-menu__list-item-link">Flyout menu item 2</a>
        </li>
      </ul>
    </div>
  </div>
</div>
