<nav
  class="c-mega-menu"
  id="modal-mega-menu"
  data-modal-auto-focus="false"
  data-modal-close-all-others="true"
  data-modal-no-body-class="true"
  js-hook-modal
  js-hook-mega-menu>
  <div class="menu-group" aria-label="Main menu" role="navigation">
    <ul class="mega-menu__nav" role="menu">
      <li class="mega-menu__item" role="menuitem" js-hook-mega-menu-item>
        <a href="#" id="menu-item-1" aria-controls="flyout-1"  class="mega-menu__link has-children" aria-haspopup="true" aria-expanded="false" js-hook-mega-menu-link>Menu Item 1</a>
        <!-- flyout 1 -->
        <div id="flyout-1"  role="menu" class="c-flyout-menu mega-menu__flyout" aria-labelledby="menu-item-1"  aria-hidden="true" js-hook-flyout-menu>
          {% include "flyout.html" %}
        </div>
      </li>
      <li class="mega-menu__item" role="menuitem" js-hook-mega-menu-item>
        <a href="#" id="menu-item-2" aria-controls="flyout-2" class="mega-menu__link has-children" aria-haspopup="true" aria-expanded="false" js-hook-mega-menu-link>Menu Item 2</a>
        <!-- flyout 2 -->
        <div id="flyout-2" role="menu" class="c-flyout-menu mega-menu__flyout" aria-labelledby="menu-item-2"  aria-hidden="true" js-hook-flyout-menu>
          {% include "flyout.html" %}
        </div>
      </li>
      <li class="mega-menu__item" role="menuitem" js-hook-mega-menu-item>
        <a href="#" class="mega-menu__link" js-hook-mega-menu-link>Menu item 3</a>
      </li>
    </ul>
  <div class="mega-menu__background" js-hook-flyout-background js-hook-button-modal-close></div>
  </div>
</nav>
