// @shelf-version 1.0.0
$sticky-transition-time: 150ms !default;
$sticky-transition-ease: $ease-in-out-quad !default;

.c-sticky {
    display: block;
    height: 100%;
}

.sticky__scroll-element {
    will-change: transform;
    transition: transform 150ms ease-in-out;
}
