$media-text-content-spacing  : $global-spacing-sm;
$media-text-margin           : $global-spacing-md;

.c-media-text {
    margin-bottom: $media-text-margin;
    background-color: #f3f3f3;
}

    .media-text__wrapper {
        display: flex;
        align-items: center;

        // Reset link styles.
        text-decoration: inherit;
        color: inherit;

        .media-text--align-top & {
            align-items: flex-start;
        }
    }

    .media-text__aside {
        height: 100%;
    }

    .media-text__figure {
        img {
            width: 100%;
            height: auto;
        }
    }

    .media-text__content {
        padding: $media-text-content-spacing $media-text-content-spacing $media-text-content-spacing 0;
        margin-left: $media-text-content-spacing;

        .media-text--align-top & {
            padding-top: $media-text-content-spacing;
        }
    }
