$media-content-spacing  : $global-spacing-sm;
$media-margin           : $global-spacing-md;

.c-media {
    margin-bottom: $media-margin;
    background-color: #f3f3f3;
}

    .media__wrapper {
        display: flex;
        align-items: center;

        // Reset link styles.
        text-decoration: inherit;
        color: inherit;

        .media--align-top & {
            align-items: flex-start;
        }
    }

    .media__aside {
        height: 100%;
    }

    .media__figure {
        img {
            width: 100%;
            height: auto;
        }
    }

    .media__content {
        padding: $media-content-spacing $media-content-spacing $media-content-spacing 0;
        margin-left: $media-content-spacing;

        .media--align-top & {
            padding-top: $media-content-spacing;
        }
    }
