{% macro pagination(data) %}

    <div class="c-pagination {% if data.classes %} {{ data.classes }}{% endif %}">

        <ol class="pagination__list">

            <li class="pagination__item pagination__item--arrow">
                <a class="pagination__arrow pagination__arrow--prev" href="./?page=1" rel="prev">
                    Previous <span class="u-sr-only">page</span>
                </a>
            </li>

            <li class="pagination__item">
                <a href="./?page=1" class="pagination__link">1</a>
            </li>

            <li class="pagination__item pagination__item--active">
                2
            </li>

            <li class="pagination__item">
                <a href="./?page=3" class="pagination__link">3</a>
            </li>

            <li class="pagination__item">
                <a href="./?page=4" class="pagination__link">4</a>
            </li>

            <li class="pagination__item">
                <a href="./?page=5" class="pagination__link">5</a>
            </li>

            <li class="pagination__item pagination__item--seperator">...</li>

            <li class="pagination__item">
                <a href="./?page=25" class="pagination__link">25</a>
            </li>

            <li class="pagination__item  pagination__item--arrow">
                <a class="pagination__arrow pagination__arrow--next" href="./?page=3" rel="next">
                    Next <span class="u-sr-only">page</span>
                </a>
            </li>

        </ol>

    </div>

{% endmacro %}
