$radio-button-size: 16px;
$radio-button-border-width: 2px;
$radio-button-color: $color-black;

.c-radio-button {

    position: relative;

}
.radio-button__input {

    opacity: 0;

}

    .radio-button__label {

        cursor: pointer;
        margin-left: 10px;

        &::before {
            position: absolute;
            content: '';
            border-radius: 100%;
            border: $radio-button-border-width solid $radio-button-color;
            top: 3px;
            left: 0;
            width: $radio-button-size;
            height: $radio-button-size;
            cursor: pointer;
            transition: all $button-transition-time $button-transition-ease;
        }

    }

    .radio-button__input:checked + label {

        &::before {

            border: $radio-button-border-width*2 solid $radio-button-color;

        }

    }
