// @shelf-version 1.1.0
$search-result-spacing: $global-spacing-md;

.search-results__list {
    list-style-type: none;
    margin-top: $search-result-spacing;
    margin-bottom: $search-result-spacing;
}

.search-results__media {
    transition: background-color .4s ease-in-out;
}

.search-results__link {
    color: inherit;
    text-decoration: none;
    display: block;

    @include hover-focus {
        .search-results__media {
            background-color: #ddd;
        }
    }
}

.search-results__button {
    text-decoration: underline;
    color: $color-black;
}
